@import '../../styles/import';

.Signup {
  width: inherit;
  height: inherit;
  position: relative;
  margin: 0 auto;

  &Content {
    margin: 1.2rem 1.6rem;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &Step {
    margin-top: 5rem;
    flex-grow: 1;
    margin-left: 2.4rem;
    margin-right: 2.4rem;

    @include mq($from: desktop) {
      max-width: 80%;
      margin: 0 auto;
    }

    &Title {
      background: linear-gradient(
        to right,
        #41279b 0%,
        #fd336c 50%,
        #ffa503 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &Subtitle {
      margin-top: 1.6rem;
      margin-bottom: 3.2rem;
      @include text(mobileSmall);

      @include breakpoint(desktop-lg) {
        @include text(desktopSmall);
      }
    }

    &Text {
      margin-top: 2.4rem;
      color: $darkGrey-color;

      span:nth-child(3) {
        font-family: $font-bold;
        display: block;
        margin-top: 0.5rem;
      }
    }

    &Span {
      color: $darkGrey-color;
    }

    &Info {
      @include text(mobileSmall);
      margin: 0 auto 2.4rem;
      color: $darkGrey-color;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      gap: 0.5rem;

      @include breakpoint(desktop-lg) {
        @include text(desktopSmall);
      }
    }
  }

  &Button {
    &Disabled {
      color: red;
    }

    &BackIcon {
      cursor: pointer;
    }

    &Next {
      @include buttonPrimary();
      margin-bottom: 9vh;

      @include mq($from: desktop) {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.privacy {
  text-align: center;

  &Icon {
    margin-bottom: 4rem;
  }

  &Text {
    text-align: left;
    margin-top: 3.2rem;
  }
}

.rules {
  text-align: left;

  &Description {
    &Title {
      margin-bottom: 1.6rem;
      font-family: $font-bold;
      @include text(mobileLarge);

      @include breakpoint(desktop-lg) {
        @include text(desktopLarge);
      }
    }

    &Subtitle {
      margin-bottom: 2.4rem;
      @include text(mobileSmall);

      @include breakpoint(desktop-lg) {
        @include text(desktopSmall);
      }
    }
  }
}

// FIRSTNAME STEP
.Firstname {
  &Input {
    margin-top: 8.2rem;
    max-width: 35rem;
    width: 100%;
    border: 0;
    border-bottom: 0.1rem solid $darkGrey-color;
    padding: 0.5rem 0;
  }
}

// PROFILE PICTURE STEP
.ProfilePicture {
  &UploadContainer {
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    margin: 2rem auto;
  }

  &Preview {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
  }
}

// BIRTHDATE STEP
.Birthdate {
  &Digits {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
  }

  &Input {
    max-width: 1.3rem;
    border: none;
    border-bottom: 0.1rem solid black;
  }
}

// GENDER & PREFERENCES STEP
.Choices {
  &Options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 0.8rem;
    margin-top: 8.2rem;
  }

  &Input {
    @include text(mobileLarge);
    border-radius: $input-borderRadius;
    padding: 1.9rem 0;
    border: 0.1rem solid $black-color;
    font-family: $font-mono;
    color: $black-color;
    background-color: $white-color;

    &:active,
    &:focus,
    &Selected {
      font-family: $font-bold;
      border: none;

      color: $white-color;
      background-color: $pink-color;
    }
  }

  &Label {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

// DISTANCE STEP
.SliderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.CustomSlider {
  appearance: none;
  width: 100%;
  height: 0.2rem;
  border-radius: 0.2rem;
  background: linear-gradient(
    to right,
    #ff4081 var(--progress),
    #ccc var(--progress)
  );
  outline: none;
  transition: background 0.3s ease-in-out;
  margin-top: 4.8rem;

  &::-webkit-slider-thumb {
    $sliderThumbSize: 3.2rem;

    appearance: none;
    width: $sliderThumbSize;
    height: $sliderThumbSize;
    background-color: #ff9800;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin-top: -1.3rem;
  }

  &::-moz-range-thumb {
    $rangeThumbSize: 2rem;
    width: $rangeThumbSize;
    height: $rangeThumbSize;
    background-color: #ff9800;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 0.2);
  }

  &::-webkit-slider-runnable-track {
    height: 0.4rem;
    border-radius: 0.2rem;
  }
}

// HOBBIES STEP
.HobbiesList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-height: 48.1rem;
  overflow: scroll;
}

.HobbiesTag {
  max-height: 2.6rem;
  max-width: 20.6rem;
  border-radius: 3.3rem;
  text-align: center;
  border: 0.1rem solid $darkGrey-color;
  padding: 0.8rem 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.8rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;

  &:active,
  &:focus,
  &Selected {
    font-family: $font-bold;
    border: none;

    color: $white-color;
    background-color: $pink-color;
  }
}
